@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&family=Chonburi&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200&display=swap');

.navbar-nav > li{
  margin-left:40px;
  margin-right:40px;
  font-family: 'Times New Roman', Times, serif;
  
}

